
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
    </div>
     <div>
       <a>
          Skill Tracker
       </a>
     </div>
      <span class = "filler"></span>
   <a mat-button routerLink="/login">Logout</a>
    </mat-toolbar>
   
