
.row::after{
content:"";
clear:both;
display:table;

}
.container {
  width: 1300px;
  clear: both;
  float:left;
  text-align: right;
  margin-right: 0.5cm;
  display: block;
}

mat-slider {
  width: 150px;
 
}
.container input {
  width: 50%;
  clear: both;
}
.example-card {
  max-width: 400px;
}

.sp{
	display: flex;   
}

.i{
    text-align: left;
    
}
.eple-card {
  max-width: 400px;
}



.p{
	  display: flex;
    flex-wrap: wrap;
    max-width: 100%;

}
.example-button-row{
    text-align: right;
}

label{
  width:4cm;
  float:left;
  text-align:right;
  margin-right:0.5cm;
  display:block;
}

.item item-2
{
   width: 40px;
  height: 40px;
  border: 1px solid green; 
  background: green;
}
.div1 {
  width: 40px;
  height: 40px;
  border: 1px solid green; 
  background: green;
  margin-bottom: 20px;
}
.div2 {
  width: 40px;
  height: 40px;
  border: 1px solid blue; 
  background: blue;
  margin-bottom: 20px;
}
.div3 {
  width: 40px;
  height: 40px;
  border: 1px solid red; 
  background: red
}
.div{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: center;

}
/*.remar{
  align:left;
}*/

table {
  width: 60%;
}

