
<app-header></app-header>
<div class="Skill_home">
<form [formGroup]="newSkills" (ngonSubmit)="onAdd" >
<mat-form-field >
      <textarea matInput formControlName="skillName" placeholder="Add Skills"></textarea>
    </mat-form-field>
    <button mat-button type="add" (click)="onAdd()"> Add</button>
</form>
  <table mat-table [dataSource]="mySkills" class="mat-elevation-z8">
  <ng-container matColumnDef="Skills">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> {{element.skillName}}  </td>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> 
    </th>
    <td mat-cell *matCellDef="let element">  
        <button mat-button (click)="openDialog(element.skillId)">Edit</button>
    <button mat-button (click)="onDelete(element.skillId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



             
               



    
      
    
      

    

  
       
       
