     <html>
     <body class="inventory-body">
       <app-header></app-header>
       <p></p>
      <form [formGroup]="newEmployee" (ngonSubmit)="onSubmit">
     <div class="row" >
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="20px">
     <div class="item item 1" fxFlex >
     <mat-card class="profile-card" >
     
             <!--<mat-form-field class="example-full-width">
           <input matInput placeholder="Name" formControlName="employeeName" required>
            </mat-form-field>
       <mat-form-field class="example-full-width">
           <input matInput placeholder="Employee Id" formControlName="employeeId" required>
            </mat-form-field>
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Email" formControlName="employeeEmail" required>
            </mat-form-field>
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Mobile" formControlName="employeeNumber" required>
            </mat-form-field>-->
            <table>
    <tr>
        <th scope="row"><label for="name">Name:</label></th>
        <td><input type="text" style="background-color: white;" formControlName="employeeName" required><br/></td>
    </tr>
    <tr>
        <th scope="row"><label for="id">Associate Id:</label></th>
        <td><input type="number" style="background-color: white;" formControlName="employeeId" required><br/></td>
    </tr>
    <tr>
        <th scope="row"> <label for="email">Email:</label></th>
        <td><input type="email" style="background-color: white;" formControlName="employeeEmail" required><br/></td>
    </tr>
    <tr>
        <th scope="row"><label for="Mobile">Mobile:</label></th>
        <td><input type="number" style="background-color: white;" formControlName="employeeNumber" required><br/></td>
    </tr>
</table>

     </mat-card>
    </div>
    <div fxFlex="15%">
     <mat-card   >
            <p></p>
            <p></p>
     <input matTooltip="Project Allocation in progress" type="checkbox" formControlName="employeeStatusBlue" id="blue"  #check (click)="onclick('blue', check)" style="float: left;  margin-top: 5px;"/>
     <div style="margin-left: 25px;height: 50px;width: 90px;">
     Status Blue
</div>
      <input matTooltip="Ready for project allocation" type="checkbox" formControlName="employeeStatusGreen" id="green" #check1 (click)="onclick('green', check1)"style="float: left; margin-top: 5px;"/>
        <div style="margin-left: 10px;height: 50px;width: 120px;">
     Status Green
</div>
      <input matTooltip="Project is already allocated" type="checkbox" formControlName="employeeStatusRed" id="red"  #check2 (click)="onclick('red', check2)" style="float: left; margin-top: 5px;"/>
      <div style="margin-left: 25px;height: 50px;width: 90px;">
     Status Red
</div>
     </mat-card>
     </div>
        <mat-card >
          <div class="item item-1" fxFlex="15%" >
           <p></p>
            <p></p>
    <!--<label id="example-radio-group-label">Gender</label>-->
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="myGender" [ngModelOptions]="{standalone: true}">
  <mat-radio-button class="example-radio-button" *ngFor="let gende of gender" [value]="gende"  style="margin-left: 25px;height: 35px;width: 90px;" >
    {{gende}}
  </mat-radio-button>
</mat-radio-group>
 </div>
</mat-card>
     <div class="item item-3" fxFlex="15%" >
     <mat-card  >
            <p></p>
      <input matTooltip="For Freshers" type="checkbox" formControlName="employeeLevel1" id="level1"  #checko (click)="onclicklevel('level1', checko)" style="float: left; margin-top: 10px;"/>
      <div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 1
</div>
      <input matTooltip="For experience more than 3 years" type="checkbox" formControlName="employeeLevel2" id="level2"  #checkp (click)="onclicklevel('level2', checkp)" style="float: left; margin-top: 10px;"/>
<div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 2
</div>
      <input  matTooltip="For experience more than 5 years" type="checkbox" formControlName="employeeLevel3" id="level3"  #checkq (click)="onclicklevel('level3', checkq)" style="float: left; margin-top: 10px;"/>
      <div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 3
</div>
      </mat-card>
     </div>
     <div class="item item-3" fxFlex="20%" >
      <mat-card >
        <p></p>
    <mat-form-field >
      <textarea style="background-color: white;"matInput formControlName="employeeRemark" placeholder="Remark" rows="4">Remark</textarea>
    </mat-form-field>
  </mat-card>
     </div>
</div>
     </div>
      <p></p>
      <hr>
        <mat-card >
          <mat-card-header >
    <mat-card-title style="font-family: Verdana, Geneva, Tahoma, sans-serif">Skill Rating</mat-card-title>
    <mat-card-subtitle style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">How good are you for a Full Stack Developer?</mat-card-subtitle>
  </mat-card-header>
         <div 
  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let mySkill of mySkills; let i = index">
    <div fxFlex="0 1 calc(33.3% - 32px)">
       <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile style="font-style: italic; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">{{mySkill.skillName}}</mat-grid-tile>
  <mat-grid-tile>
   <mat-slider
                [max]="max"
        [min]="min"
         [thumbLabel]="thumbLabel"
         [(ngModel)]="mySkills[i].rating"
         [ngModelOptions]="{standalone: true}">
         </mat-slider>
         </mat-grid-tile>
         </mat-grid-list>
    </div>
  </ng-container>
</div>
        </mat-card>
         <!--<mat-card>
           <mat-card-header>
    <mat-card-title>Skill Rating</mat-card-title>
    <mat-card-subtitle>How good are you for a Full Stack Developer?</mat-card-subtitle>
  </mat-card-header>
       <div class="grid-container">
         <div class="i"  *ngFor="let mySkill of mySkills; let i = index">
         <table>
    <tr>
        <th scope="row">{{mySkill.skillName}}</th>
        <td><mat-slider
                [max]="max"
        [min]="min"
         [thumbLabel]="thumbLabel"
         [(ngModel)]="mySkills[i].rating"
         [ngModelOptions]="{standalone: true}">
         </mat-slider></td>
    </tr>
         </table>
  </div>
       </div>
       </mat-card>-->
  <!--<div class="p" fxLayout
    fxLayoutAlign="center"
     fxLayoutGap="50px"
     fxLayoutGap.xs="5px">
            <div class="i"  *ngFor="let mySkill of mySkills; let i = index;" fxFlex=22%>
              <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>{{mySkill.skillName}}</mat-grid-tile>
  <mat-grid-tile>
   <mat-slider
                [max]="max"
        [min]="min"
         [thumbLabel]="thumbLabel"
         [(ngModel)]="mySkills[i].rating"
         [ngModelOptions]="{standalone: true}">
         </mat-slider>
         </mat-grid-tile>
         </mat-grid-list>
            </div>
</div>-->
<hr>
<mat-card >
<div class="grid-container">
  <div class="grid-item1">
    <label for="Strength">Strength:</label>
        <td><textarea rows="3" columns="16" formControlName="employeeStrength" ></textarea></td>
  </div>
    <div class="grid-item1">
      <label for="Weakness" class="weak">Weakness:</label>
        <td><textarea rows="3" columns="16" formControlName="employeeWeakness" ></textarea></td>
    </div>
    <div class="grid-item1">
      <label for="other" class="weak">Other:</label>
        <td><textarea rows="3" columns="16" formControlName="other" ></textarea></td>
    </div>
</div>
</mat-card>

    
<!--<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">
  <mat-radio-button formControlName="employeeStatusBlue">blue</mat-radio-button>
  <mat-radio-button formControlName="employeeStatusGreen">green</mat-radio-button>
  <mat-radio-button formControlName="employeeStatusRed">red</mat-radio-button>
</mat-radio-group>-->
     <button mat-button type="submit" (click)="onSubmit()"> Submit</button>

     </form>
     </body>
     </html>

     <!--<mat-card class="profile-card">
         <p>
           <label for="name">Name:</label>
           <input type="text" name="name" [(ngModel)]="data.name" required><br/>
         </p>
         <p>
           <label for="id">Associate Id:</label>
           <input type="text" name="id" [(ngModel)]="data.id" required><br/>
         </p>
         <p>
           <label for="email">Email:</label>
           <input type="text" name="email" [(ngModel)]="data.email" required><br/>
         </p>
         <p>
           <label for="Mobile">Mobile:</label>
           <input type="text" name="Mobile" [(ngModel)]="data.Mobile" required><br/>
         </p>
     </mat-card>-->


     
    




