 
<body  class="inventory-body">
     <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>
        <p></p>
  <div id="Error"*ngIf="right == 1">Wrong Credential!</div>
            <div class="form-group">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="id" placeholder="Associate Id" type="number" required class="validate" class="form-control" [(ngModel)]="employeeId" autocomplete="off">
            </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" required class="validate" class="form-control" [(ngModel)]="password" autocomplete="off">
            </div>
            </div>

            <p></p>
            <input type="submit" value="Log In" (click)=onLogin() />

            

        <div class="register">
            Don't have an account yet?
            <button (click)=onRegister()>Register here</button>
        </div>
    </div>
</body>
    </body>




