.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.div2 {
  color: blue;
}
.divblock2 {
  width: 20px;
  height: 20px;
  border: 1px solid blue; 
  background: blue;
  margin-bottom: 20px;
}
.div1 {
  color:green;
}
.divblock1 {
  width: 20px;
  height: 20px;
  border: 1px solid green; 
  background: green;
  margin-bottom: 20px;
}
.div3 {
  color: red;
}
.divblock3 {
  width: 20px;
  height: 20px;
  border: 1px solid red; 
  background: red;
  margin-bottom: 20px;
}
table {
  width: 100%;
}
#close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
 #close-icon:hover{
cursor: pointer;
}