<mat-icon mat-flat-button id="close-icon" (click)="closeDialog()">Close</mat-icon>
<div class="row"> 
  <div class="column">
    <div *ngIf="g == 1; then thenBlock else elseBlock "></div>
      <ng-template #thenBlock><div><img src="assets/download.png"></div></ng-template>
  <ng-template #elseBlock><div><img src="assets/imagespic.png"></div></ng-template> 

  
<h2>Name:{{employeeView?.employeeName}}</h2>
<h3>Employee Id:{{employeeView?.employeeId}}</h3>
<h3>Email: {{employeeView?.employeeEmail}}</h3>
<h3>Phone:{{employeeView?.employeeNumber}}</h3>
<h3>Strength:{{employeeView?.employeeStrength}}</h3>
<h3>Weakness:{{employeeView?.EmployeeWeakness}}</h3>
<h3>Remark:{{employeeView?.employeeRemark}}</h3>

  </div>
<div class="column">
        <div class ="div2" *ngIf="employeeView?.employeeStatusBlue ==true;">
        <div class ="divblock2"></div>
        <h3>Project allocation in progress</h3>
        </div> 
        <div class ="div1" *ngIf="employeeView?.employeeStatusGreen == true;">
        <div class ="divblock1"></div>
        <h3>Ready for  project allocation</h3>
        </div>
        <div class ="div3" *ngIf="employeeView?.employeeStatusRed == true;">
        <div class ="divblock3"></div>
        <h3>Project is alreday allocated</h3>
        </div>
        <div *ngIf="employeeView?.employeeLevel1 ==true;">
        <h3>I am new here</h3>
        </div>
        <div *ngIf="employeeView?.employeeLevel2 ==true;">
        <h3>I am a Associate with exzperience between 1 to 5 years</h3>
        </div>
        <div *ngIf="employeeView?.employeeLevel3 ==true;">
        <h3>I am a Associate with experience +5 years</h3>
        </div>
        <h3> My strong Skills:</h3>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
  </ng-container>

  <ng-container matColumnDef="Associate_Id">
    <th mat-header-cell *matHeaderCellDef> Rating</th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    </div>
  </div>
  


 
