<mat-icon mat-flat-button id="close-icon" (click)="closeDialog()" style="left: 49px">Close</mat-icon>
<div style="text-align: center;">
<fusioncharts
    [chartConfig]=chartConfig
    [dataSource]="dataSource1" >
</fusioncharts>
</div>