@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*<link rel="stylesheet" type="text/css" href="path/to/dist/percent-circle.css">*/
.chatMessageWrapper{
    background-color: white;
  /*  height: 30px;*/
    width: calc(100% - 65px);
}
.txtAreaType {
	width: 50%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #fff;
    line-height: 13px;
    -webkit-line-break: after-white-space;
    word-wrap: break-word;
    outline-style: none;
    display: inline-block;
    font-size: 13px; 
    padding-top: 13px;
    margin: 0px;
    font-family: Arial, Helvetica,sans-serif;
    border: none;
    resize: none;
    padding-left: 20px;
    height: 38px; 
    
}


