<div>
  <div class="content-container">
     <mat-icon mat-flat-button id="close-icon" (click)="closeDialog()">Close</mat-icon>
    <span class="content-span full-width">{{data.message}}</span>
  </div>
  <button mat-flat-button id="no-button" [mat-dialog-close]="false" >No</button>
  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">Yes</button>
 
</div>