 <html>
   <mat-icon mat-flat-button id="close-icon" (click)="closeDialog()">Close</mat-icon>
     <body class="inventory-body">
      <form [formGroup]="newEmployeeEdit" (ngonSubmit)="onSubmit">
     <div class="row">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="20px">
     <div class="item item 1" fxFlex >
     <mat-card class="profile-card">
     
            <table>
    <tr>
        <th scope="row"><label for="name">Name:</label></th>
        <td><input type="text" formControlName="employeeName" required><br/></td>
    </tr>
    <tr>
        <th scope="row"><label for="id">Associate Id:</label></th>
        <td><input type="text" formControlName="employeeId" disabled><br/></td>
    </tr>
    <tr>
        <th scope="row"> <label for="email">Email:</label></th>
        <td><input type="text" formControlName="employeeEmail" required><br/></td>
    </tr>
    <tr>
        <th scope="row"><label for="Mobile">Mobile:</label></th>
        <td><input type="text" formControlName="employeeNumber" required><br/></td>
    </tr>
</table>

     </mat-card>
    </div>
    <div fxFlex="15%">
     <mat-card  >
            <p></p>
            <p></p>
     <input type="checkbox" formControlName="employeeStatusBlue" id="blue"  #check (click)="onclick('blue', check)" style="float: left; margin-top: 5px;"/>
     <div style="margin-left: 25px;height: 50px;width: 90px;">
     Status Blue
</div>
      <input type="checkbox" formControlName="employeeStatusGreen" id="green" #check1 (click)="onclick('green', check1)"style="float: left; margin-top: 5px;"/>
        <div style="margin-left: 10px;height: 50px;width: 120px;">
     Status Green
</div>
      <input type="checkbox" formControlName="employeeStatusRed" id="red"  #check2 (click)="onclick('red', check2)" style="float: left; margin-top: 5px;"/>
      <div style="margin-left: 25px;height: 50px;width: 90px;">
     Status Red
</div>
     </mat-card>
     </div>
        <mat-card >
          <div class="item item-1" fxFlex="15%" >
           <p></p>
            <p></p>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="gend" [ngModelOptions]="{standalone: true}">
  <mat-radio-button class="example-radio-button" *ngFor="let gende of gender" [value]="gende"  style="margin-left: 25px;height: 35px;width: 90px;" >
    {{gende}}
  </mat-radio-button>
</mat-radio-group>
 </div>
</mat-card>
     <div class="item item-3" fxFlex="15%" >
     <mat-card >
            <p></p>
      <input type="checkbox" formControlName="employeeLevel1" id="level1"  #checko (click)="onclicklevel('level1', checko)" style="float: left; margin-top: 10px;"/>
      <div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 1
</div>
      <input type="checkbox" formControlName="employeeLevel2" id="level2"  #checkp (click)="onclicklevel('level2', checkp)" style="float: left; margin-top: 10px;"/>
<div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 2
</div>
      <input type="checkbox" formControlName="employeeLevel3" id="level3"  #checkq (click)="onclicklevel('level3', checkq)" style="float: left; margin-top: 10px;"/>
      <div style="margin-left: 10px;height: 50px;width: 90px;">
     Level 3
</div>
      </mat-card>
     </div>
     <div class="item item-3" fxFlex="20%" >
      <mat-card >
        <p></p>
    <mat-form-field >
      <textarea matInput formControlName="employeeRemark" placeholder="Remark" rows="4">Remark</textarea>
    </mat-form-field>
  </mat-card>
     </div>
  
</div>
     </div>
      <p></p>
      <hr>
        <mat-card>
          <mat-card-header>
    <mat-card-title>Skill Rating</mat-card-title>
    <mat-card-subtitle>How good are you for a Full Stack Developer?</mat-card-subtitle>
  </mat-card-header>
  <!--<button (click)="newSkill(this.employeeId)"> Add skill </button>-->
         <div 
  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let mySkill of ratedSkills; let i = index">
    <div fxFlex="0 1 calc(33.3% - 32px)">
       <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>{{mySkill.skillName}}</mat-grid-tile>
  <mat-grid-tile>
   <mat-slider
                [max]="max"
        [min]="min"
         [thumbLabel]="thumbLabel"
         [(ngModel)]="mySkill.rating"
         [ngModelOptions]="{standalone: true}">
         </mat-slider>
         </mat-grid-tile>
         </mat-grid-list>
    </div>
  </ng-container>
</div>
        </mat-card>
<hr>
<mat-card>
<div class="grid-container">
  <div class="grid-item1">
    <label for="Strength">Strength:</label>
        <td><textarea rows="3" columns="16" formControlName="employeeStrength" ></textarea></td>
  </div>
    <div class="grid-item1">
      <label for="Weakness" class="weak">Weakness:</label>
        <td><textarea rows="3" columns="16" formControlName="employeeWeakness" ></textarea></td>
    </div>
    <div class="grid-item1">
      <label for="other" class="weak">Other:</label>
        <td><textarea rows="3" columns="16" formControlName="other" ></textarea></td>
    </div>
</div>
</mat-card>

    

     <button mat-button type="submit" (click)="onSubmit()"> Submit</button>

     </form>
     </body>
     </html>

    