.row::after{
content:"";
clear:both;
display:table;

}
.container {
  width:100%;
  clear: both;
  float:left;
  text-align: right;
  margin-right: 0.5cm;
  display: block;
}
.profile-card{
    align-self: center !important;
    
}
.example-full-width{
    width: 100%;
}
/*.p{
	  display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.mat-slider-horizontal {
  height: 50%;
    min-width: 80%;
    }*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/*mat-checkbox {
    color: rgb(0,178,0);
    .mat-checkbox-background {
        background-color: rgb(0,178,0);
    }

    /deep/ &.mat-checkbox-focused{
        .mat-ink-ripple{
            background-color: rgba(0, 178, 0, .26);
        }
    }*/
/*}*/
/*::ng-deep .mat-checkbox .mat-checkbox-focused{
  border-color: violet;
  background-color: violet;
}*/
md-checkbox.md-checked.green .md-icon {
 background-color: rgba(0, 255, 0, 0.87);
}
td, th {
  text-align: left;
  padding: 8px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
html{
    overflow-x: hidden;
}
#close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
 #close-icon:hover{
cursor: pointer;
}