

<div>
  <div class="content-container">
  </div>
  <form [formGroup]="newSkillsupdate" (ngonSubmit)="onSubmit">
<mat-form-field >
      <textarea matInput formControlName="skillName" placeholder="Edit Skill"></textarea>
    </mat-form-field>
    <button mat-button type="add" (click)="onSubmit()" [mat-dialog-close]> Submit</button>
</form>
<button mat-flat-button id="close-icon" (click)="closeDialog()">Close</button>
</div>