
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.div2 {
  width: 40px;
  height: 40px;
  border: 1px solid green; 
  background: green;
  margin-bottom: 20px;
}
.div1 {
  width: 40px;
  height: 40px;
  border: 1px solid blue; 
  background: blue;
  margin-bottom: 20px;
}
.div3 {
  width: 40px;
  height: 40px;
  border: 1px solid red; 
  background: red
}
container-fluid{
   column-gap: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
.row::after{
content:"";
clear:both;
display:table;

}
.container1 {
  width:100%;
  clear: both;
  float:left;
  text-align: right;
  margin-right: 0.5cm;
  display: block;
}