<app-header></app-header>
<br><br>
<button mat-button matTooltip="Track the employees on the basis of Skills" style="background-color: sandybrown; left: 45%;" (click)=onTrack()>Track All Employees</button>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<br><br>
<body>
  <p></p><br>
<div class="wrapper">
  <div style="background-color:lightcyan;text-align: center;">
      <h3>Registered Employees</h3> <br>
      <br>
      <h4>{{total}}</h4>
    </div>
  <div  style="background-color:yellow;text-align: center;">
    <h3>Male  Employees</h3>
      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="(male*100)/total"  style=" left: 49px;" >
    </mat-progress-spinner>
    <div style="position:relative; top: -59px; ">
        {{ ((male*100)/total).toFixed(2)}}%
    </div>
    </div>
  <div  style="background-color:pink; text-align: center; ">
     <h3>Female Employees</h3>
      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="(female*100)/total"  style=" left: 49px;" >
    </mat-progress-spinner>
    <div style="position:relative; top: -59px; ">
        {{ ((female*100)/total).toFixed(2)}}%
    </div>
    </div>
    <div  style="background-color:lightcyan; text-align: center; ">
      <h3>Level 1 Employees</h3> <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="(level1*100)/total"  style=" left: 49px;" >
    </mat-progress-spinner>
    <div style="position:relative; top: -59px; ">
        {{ ((level1*100)/total).toFixed(2)}}%
    </div>
    </div>
    <div  style="background-color:yellow;text-align: center;">
      <h3>Level 2 Employees</h3> <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="(level2*100)/total"  style=" left: 49px;" >
    </mat-progress-spinner>
    <div style="position:relative; top: -59px; ">
        {{ ((level2*100)/total).toFixed(2)}}%
    </div>
    </div>
    <div  style="background-color:pink; text-align: center;">
      <h3>Level 3 Employees</h3> <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="(level3*100)/total"  style=" left: 49px;" >
    </mat-progress-spinner>
    <div style="position:relative; top: -59px; ">
        {{ ((level3*100)/total).toFixed(2)}}%
    </div>
    </div>
</div>


</body>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%"></div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3"></div>
  <div class="item item-3" fxFlex></div>
</div>
<mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
    <p></p>
<table mat-table [dataSource]="listData"  multiTemplateDataRows class="mat-elevation-z8">
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> 
    Status
  </th>
  <td mat-cell *matCellDef="let element " >
    <div class="div1" *ngIf="element.employeeStatusBlue ==true;"></div> 
    <div class="div2" *ngIf="element.employeeStatusGreen ==true;"></div>
    <div class="div3" *ngIf="element.employeeStatusRed ==true;"></div> </td>
</ng-container>

<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> 
    Name
  </th>
  <td mat-cell *matCellDef="let element " > {{element.employeeName }} </td>
</ng-container>


<ng-container matColumnDef="Associate_Id">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> Associate Id </th>
  <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
</ng-container>


<ng-container matColumnDef="Email_Id">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> Email Id </th>
  <td mat-cell *matCellDef="let element"> {{element.employeeEmail}} </td>
</ng-container>

<ng-container matColumnDef="Mobile">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> Mobile</th>
  <td mat-cell *matCellDef="let element"> {{element.employeeNumber}} </td>
</ng-container>

<ng-container matColumnDef="Strong Skills">
  <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm">Strong Skills</th>
  <td mat-cell *matCellDef="let element " > 
    {{element.skillRating[0].skillName}},{{element.skillRating[1].skillName}}</td> 
</ng-container>

<ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
    </td>
  </ng-container>
<ng-container matColumnDef="Change">
  
  <th mat-header-cell *matHeaderCellDef>
    <button mat-button class="nav-item nav-link-edit" (click)=addSkill() style="background-color: palegoldenrod">Add New Associate</button >
    </th>
    <td mat-cell *matCellDef="let element">  
        <button mat-button (click)=onEdit(this.element.employeeId) style="background-color: palevioletred; margin-right: 1%">Edit</button >
        <button mat-button (click)=onDelete(this.element.employeeId) style="background-color: palegreen; margin-right: 1%">Delete</button >
        <button mat-button (click)=onView(this.element.employeeId) style="background-color: palevioletred; margin-right: 1%">View</button >
        <button mat-button (click)="newSkill(this.element.employeeId)" style="background-color: palegreen"> Add New skill </button>
        <!--<button (click)="deleteSkill(this.element.employeeId)"> Add skill </button>-->
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  

  
  


 