<mat-icon mat-flat-button id="close-icon" (click)="closeDialog()">Close</mat-icon>
<div class="Skill_home">
<div *ngFor="let element of uniqueSkills">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{element.skillName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
  <mat-slider
                [max]="max"
        [min]="min"
         [thumbLabel]="thumbLabel"
         [(ngModel)]="rating"
         [ngModelOptions]="{standalone: true}">
         </mat-slider>
  <button  mat-button (click)="onAddNewSkill(element.skillId, element.skillName)">Add</button>
   </mat-expansion-panel>
   <!--<b> {{element.skillName}} </b>
   <button  mat-button (click)="onAddNewSkill(element.skillId, element.skillName)">Add</button> -->
</div>
<!--<li *ngFor="let element of uniqueSkills">
   <b> {{element.skillName}} </b>
   <button  mat-button (click)="onAddNewSkill(element.skillId, element.skillName)">Add</button>           
</li>
<table style="width:100%">
  <tr>
    <th>SkillName</th>
    <th colspan="2">Add</th>
  </tr>
  <tr *ngFor="let element of uniqueSkills">
     <b> {{element.skillName}} </b>
   <button  mat-button (click)="onAddNewSkill(element.skillId, element.skillName)">Add</button>          
  </tr>
</table>-->
<!--<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>-->